{% load humanize %}

<div class="comment">
    by :
  <a href="{% url 'profile' comment.user.username %}"><img src="{{ comment.user.profile.profile_image.url }}" class="comment-portrait"></a>

  <div class="comment-text">
    <h5>
      <a href="{% url 'profile' comment.user.username %}">{{ comment.user.profile.get_screen_name }}</a>
      <small>{{ comment.date|naturaltime }}</small>
    </h5>
    <span>
        <div>
            <div class="talk-bubble tri-right border btm-right-in">
  <div class="talktext">
      <details>


     <p class="w3-panel w3-card w3-yellow">{{ comment.comment }}</p>
      </details>
  </div>
</div>
        </div>
    </span>

  </div>
</div>