{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tunicamp{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/tn-logo.PNG' %}">
         <link rel = "icon" href =
"{% static 'img/tn-logo.PNG' %}"
        type = "image/x-icon">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static 'css/bootcamp.css' %}?v=1" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootcamp.js' %}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

    div{


        text-shadow:1px 2px 3px purple;
        color : gold;
    }
        .add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add:active {
  transform: scale(0.98);
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}

.note .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
}

.hidden {
  display: none;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}






<!-- Page Content -->





      <header>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:purple">
          <div class="container">
            <div class="navbar-header">
                  <button class="js__dark-mode-toggle dark-mode-toggle" type="button">
              <span class="dark-mode-toggle__icon"></span>
              <span class="dark-mode-toggle__text hidden--visually">dark mode</span>
             </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
 <a class="navbar-brand" href="{% url 'home' %}">

                  <span class="w3-text-orange" style="text-shadow:1px 1px 0 #444">socialcamp-Tn


                 <img src="https://www.graphicsprings.com/filestorage/stencils/80743ff34ea418197d633bc658fe405c.svg" height="80" width="80"  />
              </span>
              </a>

            <canvas id="canvas" width="80" height="80"
style="background-color:#333">
</canvas>


            </div>
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">

                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                    <span class="glyphicon glyphicon-bell"></span>
                  </a>
                </li>
                <li><a href="{% url 'feeds' %}">{% trans 'Feed' %}</a></li>
                <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
                <li><a href="{% url 'questions' %}">{% trans 'Q&A' %}</a></li>
                <li><a href="{% url 'network' %}">{% trans 'Network' %}</a></li>
                 <li><a href="{% url 'posts1:add-post' %}">{% trans 'Create post' %} </a></li>

                 <li><a href="{% url 'savenotes' %}">{% trans 'savenotes' %}</a></li>
        <li>  <a   target="_blank" class="navbar-brand" href="http://appchat258.pythonanywhere.com/login?next=%2Fprofile" >
                         <i class="fa fa-smile"></i>



              </a></li>
               <li><a href="http://videotube1.pythonanywhere.com/" target="_blank">{% trans 'sharevideo' %}</a></li>

              </ul>
              {% if not hide_search %}
                <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
                  <div class="input-group" style="width:210px">
                    <input type="text" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                  </div>
                </form>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}
                   {% if user.profile.profile_image.url %}
           <img src="{{user.profile.profile_image.url}}" class="rounded float-right" height="85px" width="85px" style="border-radius:85%">
           {% else %}
             <img src="{{ user.profile.get_picture }}" class="user" height="85" width="85" style="border-radius:85%">
           {%  endif %}
                  </a>
                </li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'inbox' %}"><span class="badge pull-right" id="unread-count">0</span> Inbox</a></li>
                    <li><a href="{% url 'settings' %}">{% trans 'Account Settings' %}</a></li>
                    <li class="divider"></li>
                     <li><a href="{% url 'posts1:display-posts' %}">{% trans 'Posts' %}</a></li>

                     <li><a href="{% url 'qnotes' %}">{% trans ' qnotes' %}</a></li>
                   <li> <a href="{% url 'addy' %}" class="w3-bar-item w3-button" target="_blank">addy</a></li>
                <li> <a href="{% url 'lochatty' %}" class="w3-bar-item w3-button" target="_blank">lochatty</a></li>
                 <li><a href="{% url 'myeditor' %}" target="_blank">{% trans 'myeditor' %}</a></li>
                  <li><a href="{% url 'firechat' %}" target="_blank">{% trans 'firechat' %}</a></li>
</a>
             <li>  <a class="navbar-brand" href="{% url 'addNotes' %}" target="_blank">
                         <i class="fa fa-pencil"></i>



              </a></li>


                 <li><a class="w3-bar-item w3-button" href="{% url 'piano1' %}" target="_blank">{% trans 'piano1' %}</a></li>
                <li><a class="w3-bar-item w3-button" href="{% url 'piano2' %}" target="_blank">{% trans 'piano2' %}</a></li>
                 <li><a href="{% url 'rubikGame' %}" class="w3-bar-item w3-button" target="_blank">cube game</a></li>
                 <li><a href="{% url 'mainCraft' %}" class="w3-bar-item w3-button" target="_blank">craftgame</a></li>
                                 <li>
        <a href="{% url 'userprofile' %}">
          <i class="fa fa-user"></i>
          <span>MyProfile
          {% if user.profile.profile_image.url %}
           <img src="{{user.profile.profile_image.url}}" class="rounded float-right" height="85px" width="85px">
           {%  endif %}
          </span></a>
      </li>
                  <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
          <br/>
          <br/>
           <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        <div class="container">
            <div class="jumbotron">
          {% block main %}
          {% endblock main %}
          </div>
        </div>
      </main>



<p id="demo"></p>




<!--
<button onclick="typeWriter()">
 <i class="fa fa-hand">

 </i>
</button>-->
<button class="add" id="add">
    <i class="fas fa-plus"></i> Add note
  </button>
      <script src="{% static 'js/notifications.js' %}"></script>
      <script src="{% static 'js/check_messages.js' %}"></script>
    {% endblock body %}
    <script src="{% static 'js/ga.js' %}"></script>
    <script>
    const addBtn = document.getElementById("add")

// pull these from local storage
const notes = JSON.parse(localStorage.getItem("notes"))

if (notes) {
  notes.forEach((note) => addNewNote(note))
}

addBtn.addEventListener("click", () => addNewNote())

function addNewNote(text = "") {
  const note = document.createElement("div")
  note.classList.add("note")

  note.innerHTML = `
    <div class="tools">
        <button class="edit"><i class="fas fa-edit"></i></button>
        <button class="delete"><i class="fas fa-trash-alt"></i></button>
    </div>

    <div class="main ${text ? "" : "hidden"}"></div>
    <textarea class="${text ? "hidden" : ""}"></textarea>
    `

  const editBtn = note.querySelector(".edit")
  const deleteBtn = note.querySelector(".delete")
  const main = note.querySelector(".main")
  const textArea = note.querySelector("textarea")

  textArea.value = text
  // Using the marked library for markdown
  main.innerHTML = marked(text)

  deleteBtn.addEventListener("click", () => {
    note.remove()

    updateLS()
  })

  editBtn.addEventListener("click", () => {
    main.classList.toggle("hidden")
    textArea.classList.toggle("hidden")
  })

  textArea.addEventListener("input", (e) => {
    const { value } = e.target

    main.innerHTML = marked(value)

    updateLS()
  })

  document.body.appendChild(note)
}

function updateLS() {
  const notesText = document.querySelectorAll("textarea")

  const notes = []

  notesText.forEach((note) => notes.push(note.value))

  localStorage.setItem("notes", JSON.stringify(notes))
}

</script>
    <script>
          const setDarkMode = (active = false) => {
    const wrapper = document.querySelector(":root");
    if (active) {
        wrapper.setAttribute("data-theme", "dark");
        localStorage.setItem("theme", "dark");
    } else {
        wrapper.setAttribute("data-theme", "light");
        localStorage.setItem("theme", "light");
    }
};

const toggleDarkMode = () => {
    const theme = document.querySelector(":root").getAttribute("data-theme");
    // If the current theme is "light", we want to activate dark
    setDarkMode(theme === "light");
};

const initDarkMode = () => {
    const query = window.matchMedia("(prefers-color-scheme: dark)");
    const themePreference = localStorage.getItem("theme");

    let active = query.matches;
    if (themePreference === "dark") {
        active = true;
    }
    if (themePreference === "light") {
        active = false;
    }

    setDarkMode(active);

    query.addListener(e => setDarkMode(e.matches));

    const toggleButton = document.querySelector(".js__dark-mode-toggle");
    toggleButton.addEventListener("click", toggleDarkMode);
};

initDarkMode();
</script>
<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#333');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#333');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#333';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}
</script>


<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
<script src="https:////cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>

  </body>
</html>
