{% load humanize %}
{% load i18n %}

{% for comment in feed.get_comments %}
  <li feed-id="{{ comment.pk }}" csrf="{{ csrf_token }}">
    {% if comment.user == user %}
      <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this comment' %}"></span>
    {% endif %}
    <a href="{% url 'profile' comment.user.username %}">
      <img src="{{ comment.user.profile.profile_image.url }}" class="user-comment">
    </a>
    <h4>
      <a href="{% url 'profile' comment.user.username %}" style="color:purple">
        {{ comment.user.profile.get_screen_name }}
      </a>
      <small style="color:purple">{{ comment.date|naturaltime }}</small>
    </h4>
    <div>{{ comment.linkfy_post|safe }}</div>
  </li>
{% empty %}
  <li class="empty" style="color:purple">{% trans 'Be the first one to comment' %}</li>
{% endfor %}
